
/* Center the heading and video container */
 #birthday-message {
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px; /* Space between message and video */
    }

#video-container {
    display: block;
    margin: auto;
    
}

#birthday-video {
    display: block;
    margin: auto;
    max-width: 100%; /* Make the video responsive */
    height: auto;
}

/* Style the card to be centered */
#birthday-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Ensure it's above the video */
    display: none; /* Initially hidden */
}